:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --hover-button-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --primary-bar-color: #2f303a;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-white-color);
}

.logo1part {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--hover-button-color);
}

.logo2part {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--primary-black-color);
  text-decoration: none;
}

.nav-list-header .link {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-list-header {
  list-style: none;
}

.nav-list-header .link:hover,
.nav-list-header .link:focus {
  color: var(--hover-button-color);
}

.auto-nav .auto-link {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auto-nav .auto-link:hover,
.auto-nav .auto-link:focus {
  color: var(--hover-button-color);
}

.auto-nav {
  list-style: none;
}

.page-header {
}
nav {
}

.buttons {
  list-style: none;
}

.button {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  margin-left: 8px;
  border-radius: 4px;
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.65;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
}

.buttons .button:hover,
.buttons .button:focus {
  background-color: var(--hover-button-color);
  color: var(--primary-white-color);
}

.bar {
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background-color: var(--primary-bar-color);
}
.title-bar {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  position: absolute;
}

.button-bar {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  margin-top: 30px;
  border-radius: 4px;
  background-color: var(--hover-button-color);
  color: var(--primary-white-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.hidden {
  display: none;
}

.opportunity {
}

.opportunities h3 {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.opportunities p {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.about-name {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.about-pictures {
  list-style: none;
}

.community {
  list-style: none;
}

.name {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.position {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.footer {
  background-color: var(--primary-bar-color);
}

.logo3part {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--primary-white-color);
  text-decoration: none;
}

.footer-list {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  list-style: none;
}

.footer-mail,
.footer-tel {
  color: var(--primary-white-color);
  opacity: 0.6;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}
