:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --hover-button-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --primary-bar-color: hsl(235, 10%, 21%);
  --primary-white-color-60: rgba(255, 255, 255, 0.6);
  --primary-light-color-button: #f5f4fa;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-white-color);
}
/* Header общий */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--hover-button-color);
  text-decoration: none;
}

.logo-dark {
  color: var(--primary-black-color);
}

.nav-list-header .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-list-header {
  list-style: none;
}

.nav-list-header .link:hover,
.nav-list-header .link:focus {
  color: var(--hover-button-color);
}

.auto-nav .auto-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auto-nav .auto-link:hover,
.auto-nav .auto-link:focus {
  color: var(--hover-button-color);
}

.auto-nav {
  list-style: none;
}
/* Конец общего header */

/* Кнопки Портфолио */
.buttons {
  list-style: none;
}

.button {
  color: var(--title-text-color);
  background-color: var(--primary-light-color-button);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.65;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  cursor: pointer;
}

.buttons .button:hover,
.buttons .button:focus {
  background-color: var(--hover-button-color);
  color: var(--primary-white-color);
}

/* Бар Студио */
.bar {
  background-color: var(--primary-bar-color);
}
.title-bar {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button-bar {
  border-radius: 4px;
  background-color: var(--hover-button-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/* Спрятать hidden  заголовки */
.hidden {
  display: none;
}
.opportunities {
  list-style: none;
}

.opportunities .name {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.opportunities .meaning {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.about-name {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.about-pictures {
  list-style: none;
}

.community {
  list-style: none;
}

.name {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.position {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* Общий footer */
.footer {
  background-color: var(--primary-bar-color);
}

.logo-light {
  color: var(--primary-white-color);
}

.footer-list {
  list-style: none;
}

.footer-link {
  color: var(--primary-white-color-60);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  /* без font-style шрифт italic  */
  font-style: normal;
}

.address {
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  /* без font-style шрифт italic  */
  font-style: normal;
}
.address:hover,
.address:focus .footer-link:focus,
.footer-link:hover {
  color: var(--hover-button-color);
}

/* Main Портфолио */
.samples {
  list-style: none;
}
.project-name {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-type {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
